# Created by https://www.toptal.com/developers/gitignore/api/soliditytruffle
# Edit at https://www.toptal.com/developers/gitignore?templates=soliditytruffle

### SolidityTruffle ###
# depedencies
node_modules

# contacts to be built

test/01_PoolzBack
test/02_WhiteList
test/03_LockedDeal
test/04_Benefit
test/05_HodlersWhitelist
test/06_EnvelopToken


# testing
coverage
coverage.json

secret.js

# production
build
build_webpack

# misc
.DS_Store
.env
npm-debug.log
.truffle-solidity-loader
.vagrant/**
blockchain/geth/**
blockchain/keystore/**
blockchain/history

#truffle
.tern-port
yarn.lock
package-lock.json

# End of https://www.toptal.com/developers/gitignore/api/soliditytruffle