os: linux
dist: focal
language: node_js
node_js: "16.16.0"
addons:
  apt:
    sources: deadsnakes
    packages: python3.8
install: npm i && npm i -g truffle
script:
  - bash ./bin/build.sh
  - truffle run coverage --network development
after_script: bash <(curl -s https://codecov.io/bash)
